<header class="top-bar">
    <button class="menu-toggle"><i class="fas fa-bars"></i></button>
    <div class="breadcrumb">
        <a href="#"><i class="fas fa-home"></i></a>
        <span>/</span>
        <span class="current-page"><!-- Will be replaced by JavaScript --></span>
    </div>
    <div class="top-bar-right">
        <a href="#" class="notifications"><i class="fas fa-bell"></i></a>
        <div class="user-menu">
            <img src="assets/default-avatar.png" alt="User">
            <i class="fas fa-chevron-down"></i>
        </div>
    </div>
</header> 